<mat-toolbar class="fixed-top">
  <button mat-icon-button (click)="toggleSide(sidenav)">
    <mat-icon>
      {{ sidenav.opened ? "highlight_off" : "menu" }}
    </mat-icon>
  </button>
  <span>My Application</span>
  <span class="ms-auto">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon> chat </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon> logout </mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
  <mat-sidenav class="sidenav" mode="side" #sidenav
    ><mat-nav-list>
      <h3 mat-subheader>客戶服務</h3>
      <a *ngFor="let item of listItems" mat-list-item [routerLink]="item.router">{{ item.title }}</a>
    </mat-nav-list></mat-sidenav
  >
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- nav 下拉 -->
<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="submenu">Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #submenu="matMenu">
  <button mat-menu-item>SubItem 1</button>
  <button mat-menu-item>SubItem 2</button>
</mat-menu>
