<h2 class="text-center">{{ menu?.name }}</h2>
<div class="row">
  <div class="col-4">重量 100kg</div>
  <div class="col-4">組數 12組</div>
  <div class="col-4">時間 74:12:11</div>
</div>
<div class="content mt-3">
  <!-- <form [formGroup]="validateForm">

  </form> -->
  <div *ngFor="let action of menu?.actions" class="mb-3">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ action.content }}
          </mat-panel-title>
          <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
        <mat-action-row>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!-- 新增 start -->
<button mat-fab class="add-btn" (click)="hanleNewAction()">
  <mat-icon > add </mat-icon>
</button>
