<h2 class="text-center">{{ menu?.name }}</h2>
<div class="row">
  <div class="col-4">重量 100kg</div>
  <div class="col-4">組數 12組</div>
  <div class="col-4">時間 74:12:11</div>
</div>
<div class="content mt-3">
  <!-- <form [formGroup]="validateForm">

  </form> -->
  <mat-accordion>
    <ng-container *ngFor="let action of actionList">
      <mat-expansion-panel [expanded]="action.action_id === openingPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ action.content }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- 面板內容 start -->
        <mat-divider></mat-divider>
        <!-- record -->
        <table mat-table [dataSource]="action.records" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="reps">
            <th mat-header-cell *matHeaderCellDef>次數</th>
            <td mat-cell *matCellDef="let element">{{ element.reps }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>重量</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- 面板內容 end -->
        <mat-action-row>
          <button
            mat-button
            color="primary"
            (click)="handleNewRecord(action.action_id, action.records)"
          >
            Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
<!-- 新增 start -->
<button mat-fab class="add-btn" (click)="handleNewAction()">
  <mat-icon> add </mat-icon>
</button>
