/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.add-btn {
  position: fixed;
  top: 90%;
  right: 10%;
  z-index: 99;
}

mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 1rem !important;
}

.fc-daygrid-event {
  background-color: indianred;
  margin-top: 4px;
  margin-bottom: 4px;
}

.fc-daygrid-event-dot,
.fc-event-time {
  display: none;
}
